body{
    margin: 30px;
    background-color: #aed6f2aa;
    color: black;
    font-size: 25px;
}

h1{
    text-align: center;
    font-size: 50px;
    margin: 20px;
}

.button{
    display: flex;
    margin: auto;
    margin-top: 5px;
    padding: 2;
}

input{
    margin: 10px;
}

select{
    margin: 10px;
}